<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="nav navbar-nav align-items-center">
      <a class="navbar-brand" href="/home">
        <img src="../../../assets/images/DigitalNest-logo-removebg-cropped.png" alt="DigitalNest" id="headerLogo">
      </a>
      <li class="nav-item">
        <a class="nav-link text-white fw-medium" href="/home">Inicio</a>
      </li>
    </ul>
    <div class="ms-auto">
      <ng-container *ngIf="!isLoggedIn">
        <a class="nav-link text-white m-4" href="/login">Iniciar Sesión</a>
        <a class="nav-link text-white m-4" href="/register">Registrarse</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a class="nav-link text-white m-4" href="/history">Historial de Perfil</a>
        <a class="nav-link text-white m-4" (click)="onLogout()">Cerrar Sesión</a>
      </ng-container>
    </div>
  </nav>
</header>
