<div class="container-fluid" id="fondo" style="background-image: url('assets/images/electronics-banner.png');">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-12">
            <h1 class="text-warning display-4 fw-bold">Bienvenido a DigitalNest</h1>
            <p class="lead text-white fw-bold">Explora los mejores electronicos en nuestra tienda.</p>
        </div>
    </div>
</div>

<h1 class="text-center">Te podría gustar: </h1>

<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-4 col-sm-6 col-lg-3">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
</div>