<div class="card">
    <div class="row g-0">
        <div class="col-12">
            <div class="card-body">
                <h5 class="card-title">Estado: {{ order.status }}</h5>
                <p class="card-text">
                    Total pagado: ${{ order.totalPrice }}
                </p>
                <p class="card-text">
                    Dirección de entrega: {{ order.shippingAddress }}
                </p>
                <p class="card-text">
                    Listado de productos:
                </p>
                <ul class="list-group
                    list-group-flush">
                    <li class="list-group
                        list-group-item" *ngFor="let product of order.products">
                        idProducto: {{ product.productId }} - Cantidad: {{ product.quantity }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 